
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    
</head>
<title>signup</title>
<body>

<h2><center>SIGN UP</center></h2>
<div class="container">
<form method="post" action="/signup">
{% csrf_token %}
 <div class="card card-image"
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg'); background-size:cover;background-attachment:relative;width:100%;height:750px;">
    <div class="text-black rgba-stylish-strong py-5 px-5 z-depth-4">
<div class="form-row">
    

      <label for="Name"><b>Name*</b></label>
      <input type="text" class="form-control" id="inputName">
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4"><b>Email*</b></label>
      <input type="email" class="form-control" placeholder="emailxyz@123" id="inputEmail4">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4"><b>Password*</b></label>
      <input type="password" class="form-control" placeholder="password@123"id="inputPassword4">
    </div>
  </div>
  <div class="form-column">
  <div class="form-group md-6">
    <label for="inputphonenumber"><b>Phone Number<b></label>
    <input type="Number" class="form-control" id="inputPhoneNumber" placeholder="12345678">
  </div>
  <div>
 
    <div class="form-group col-md-6">
      <label for="inputState"><b>Choose constituency*</b></label>
      <select id="inputState" class="form-control">
      <option>Choose</option>
        <option>Basavanagudi</option>
        <option>Bommanahalli</option>
        <option>BTM Layout</option>
        <option>Jayanagar</option>
        <option>Mahadevapura</option>
        <option>RR Nagar</option>
        <option>Vijayanagar</option>
        <option>Yelhanka</option>
      </select>
    </div></p>
    
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  
<a href="#" class="btn btn-primary btn-primary">submit <span class="glyphicon glyphicon-arrow-right"></span></a>
</form>

</div>
</div>
</div>
</div>


</body>
</html>
