<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1></h1>
</body>

</html>
<script>
    $(document).ready(function() {
        $(document).on('submit', '#signup-form', function(e) {
            e.preventDefault();
            //get phn code
            var countryData = iti.getSelectedCountryData();
            var dialCode = countryData.dialCode;
            var form = document.getElementById('signup-form');
            var formData = new FormData(form);
            formData.append('dialcode', dialCode);
            $.ajax({
                url: "/signup",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                type: 'POST',
                beforeSend: function() {
                    //                        $('#mailFound').text("");
                    //                        $('#someError').text("");
                    //                        $('#mailNotFound').text("");
                    //                        $('#fp_email_id').val();
                },
                success: function(response) {
                    if (response['email_id'] !== undefined) document.getElementById('email').innerHTML = response['email_id'];
                    if (response['first_name'] !== undefined) document.getElementById('fname').innerHTML = response['first_name'];
                    if (response['username'] !== undefined) document.getElementById('usrname').innerHTML = response['username'];
                    if (response['passwd'] !== undefined) document.getElementById('passwrd').innerHTML = response['passwd'];
                    if (response['c_passwd'] !== undefined) document.getElementById('c_passwrd').innerHTML = response['c_passwd'];
                    if (response['code'] == 200) {
                        document.getElementById("signup-form").reset();
                        if (response['message']) swal("Registered Successfully. Please check activation email");
                        setTimeout(function() {
                            window.location = '/login';
                        }, 2000);
                    } else if (response['code'] == 400) {
                        swal(response['error']);
                    } else {
                        swal(response['error']);
                    }
                },
                error: function(error) {
                    document.getElementById("forgotPassword").reset();
                    $('#fp_email_id').html();
                    $('#someError').text(response.message);
                    $('#passwdRecoveryModal').modal('toggle');
                }
            })
        });
    });
</script>